<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="People">
    <meta property="og:title" content="People - Home" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="   ">
    <meta property="og:description" content="People - Home">
    <meta property="og:site_name" content="People - Home">
    <meta name="theme-color" content="#1A1A1A">


    <title>People - Home</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet'
        href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css'>

    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600" rel="stylesheet">

    <style>
        html,
        body {
            font-family: 'Montserrat Alternates', sans-serif;
            height: 100%;

        }

        html {
            overflow: hidden;
            background-color: #1A1A1A;
        }

        body {
            display: none;
            overflow: auto;
            background-size: 200% 200% !important;
            animation: gradient 10s ease infinite;
        }


        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .search-box {
            position: relative;
            width: 100%;
            max-width: 360px;
            height: 60px;
            border-radius: 120px;
            margin: 0 auto;
        }

        .search-icon,
        .go-icon {
            position: absolute;
            color: #FFFFFF;
            top: 0;
            height: 60px;
            width: 86px;
            line-height: 61px;
            text-align: center;
        }

        .search-icon {
            left: 0;
            pointer-events: none;
            font-size: 1.22em;
            will-change: transform;
            transform: rotate(-45deg);
            transform-origin: center center;
            transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        }

        .si-rotate {
            transform: rotate(0deg);
        }

        .go-icon {
            right: 0;
            pointer-events: none;
            font-size: 1.38em;
            will-change: opacity;
            cursor: default;
            opacity: 0;
            transform: rotate(45deg);
            transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        }

        .go-in {
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
            transform: rotate(0);
            transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        }

        .search-border {
            display: block;
            width: 100%;
            max-width: 360px;
            height: 60px;
        }

        .border {
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 5;
            stroke-miterlimit: 10;
        }

        .border {
            stroke-dasharray: 740;
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
        }

        .border-searching .border {
            stroke-dasharray: 740;
            stroke-dashoffset: 459;
            transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
        }

        #search {
            font-family: 'Montserrat Alternates', sans-serif;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 120px;
            border: none;
            background: rgba(255, 255, 255, 0);
            padding: 0 68px 0 68px;
            color: #FFFFFF;
            font-size: 1.32em;
            font-weight: 400;
            letter-spacing: -0.015em;
            outline: none;
        }

        #search::placeholder {
            color: #FFFFFF;
        }

        .card {
            border-radius: 1rem;
        }
    </style>
</head>


<body>

    <main class="container">

        <div class="row m-5">

            <div class="search-box">

                <div class="search-icon"><i class="fa fa-search search-icon"></i></div>

                <form class="search-form" id="searchForm">
                    <input type="text" placeholder="Name" id="search" name="person" autocomplete="off">
                </form>

                <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111"
                    style="enable-background:new 0 0 671 111;" xml:space="preserve">
                    <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280" />
                    <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280" />
                </svg>

                <div class="go-icon"><i class="fa fa-arrow-right"></i></div>
            </div>

        </div>

        <div class="row justify-content-center mb-5">

            <div class="col-lg-6 col-md-8">

                <!-- <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-3 text-center">How to use</h5>
                        <p class="card-text">Enter a name and the algorithm will calculate whether or not
                            there a good
                            asset to the team.</p>
                    </div>
                </div> -->

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-3 text-center" id="cardTitle">
                            <% if (locals.person) { %> <%= person.title %> <% } %>
                        </h5>
                        <p class="card-text text-center fs-3" id="cardBody">
                            <% if (locals.person) { %> <%= person.body %> <% } %>
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script>

        function getPerson(pp) {
            fetch('/person', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ person: pp ? pp : $("#search").val() })
            })
                .then(res => res.json())
                .then(data => {
                    console.log(data)

                    $("#cardTitle").html(data.title)
                    $("#cardBody").html(data.body)
                    if (data.exists) $("#search").val('')
                })
                .catch(error => {
                    console.log(error)
                })
        }


        $("#search").focus(function () {
            $(".search-box").addClass("border-searching");
            $(".search-icon").addClass("si-rotate");
        });
        $("#search").blur(function () {
            $(".search-box").removeClass("border-searching");
            $(".search-icon").removeClass("si-rotate");
        });
        $("#search").keyup(function () {
            if ($(this).val().length > 0) $(".go-icon").addClass("go-in");
            else $(".go-icon").removeClass("go-in");
        });
        $("#searchForm").submit(function (e) {
            e.preventDefault()
            getPerson()
        });
        $(".go-icon").click(function () {
            getPerson()
        });

        var backgrounds = [
            ['#c21500', '#ffc500'],
            ['#fc00ff', '#00dbde'],
            ['#00c6ff', '#0072ff'],
            ['#fc354c', '#0abfbc'],
            ['#4776e6', '#8e54e9'],
            ['#ff8008', '#ffc837'],
            ['#1a2980', '#26d0ce'],
            ['#aa076b', '#61045f'],
            ['#da22ff', '#9733ee'],
            ['#da22ff', '#9733ee'],
            ['#8a2387', '#e94057', '#f27121']
        ]


        let index = Math.floor(Math.random() * backgrounds.length)
        let bg = `linear-gradient(135deg, ${backgrounds[index].toString()})`
        $('body').css('background', bg)

        getPerson(<%= locals.person %>) 

        $('body').delay(1000).fadeIn()

    </script>

</body>

</html>